/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual CSS */

body {
	background-image: url("papyrus.png");
	font-family: 'Trebuchet MS', sans-serif;
	line-height: 1.6em;
}

#main {
	filter: drop-shadow(0 0 0.75rem rgba(0,0,0,.2));
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
	margin: auto;
}

.section_head {
	background-color: #2B303A;
	padding: .5em;
	margin: 0 0 .5em 0;
}

.section {
	background-color: #fafbfc;
	border-radius: 5px;
}

#head {
	background-color: #F06543;
	text-align: center;
}

.company {
	font-weight: bold;
}

.position {
	font-style: italic;
	border-bottom: 1px #344869 dashed;
}

#menu {
	padding: .5em 0;
}

/* Fonts and styling */

h1 {
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	padding: 1em 0 0 0;
}

h2 {
	color: #ffffff;
	font-size: 1.4em;
	text-transform: uppercase;
}

h3 {
	color: white;
}

p {
	padding: 0 .7em;
}

p.company {
	color: #27A8D5;
}

b {
	color: #27A8D5;
}

.position {
	margin: 0 0 .5em 0;
}

ul {
	list-style: circle inside;
	padding: 0 .7em .7em .7em;
}

b {
	font-weight: bold;
}

a, a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color:#27A8D5;
	font-weight: bold;
	text-decoration: underline;
}