{% extends "base.html" %}

{% block projects %}

<h2>Projects</h2>

<div id="myModal" class="modal">
    <div id="project-article"></div>
</div>

<div id="projects_content">

{% for project in projects %}
<div class="project"
    hx-get="/project/{{ project.slug }}" 
    hx-target="#project-article" 
    hx-trigger="click">
    {% if project.url %}
        <h3>{{ project.title}}</h3>
    {% else %}
        <h3>{{ project.title}}</h3>
    {% endif %}
    <p class ="project_tech">{{ project.tech }}</p>
    <p>{{ project.synopsis }}</p>
</div>
{% endfor %}

</div>

{% endblock %}