/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual CSS */

body {
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.6em;
}

.content {
	width: 50%;
	margin: auto;
}

#head, #skills, #certifications, #footer {
	background-color: #003366;
	background: radial-gradient(circle, rgba(0,51,102,1) 0%, rgba(0,41,82,1) 100%);
}

#head .content {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 8em;
	justify-content: space-between;
	padding: 0em;
}

#head .content a.icon {
	display: none;
}

#hero_content {
	align-items: center;
	display: flex;
	gap: 2%;
	justify-content: space-between;
	padding: 3em;
}

.hero-lottie {
	width: 50%;
}

#hero_statement {
	width: 50%; 
}

#skills_content {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 8em;
	justify-content: center;
	padding: 3em;
}

.skill_section {
	color: white;
	width: 20%;
}

.skills_header i {
	display: inline-block;
	position: relative;
	top: 3px;
}

.skills_header h3 {
	display: inline-block;
}

#projects, #experience {
	padding: 5em 0;
}

#projects_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4%;
}

.project {
	border-left: #a1c3cf solid 3px;
	margin: 3em 0 0 0;
	padding: 0em 0 0 2em;
	max-width: 40%;
}

#certifications .content {
	background-image: url("Logos.png");
	background-repeat: no-repeat;
	background-position: right;
	color: white;
	padding: 5em 0;
}

#certs_content {
	padding-left: 8em;
}

.company {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8em;
	justify-content: space-between;
	padding: 3em;
}

.company img {
	flex-grow: 10;
	max-width: 300px;
	width: 50%;
}

.company_desc {
	flex-grow: 4;
	padding: 2em 0;
	width: 50%;
}

#microsoft {
	text-align-last: right;
	
}

#footer .content {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 2em;
	justify-content: center;
	padding: 0em;
}

/* Fonts and styling */

h1 {
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	padding: 1em 0 0 0;
}

#projects h2, #experience h2 {
	text-align: center;
}

h2 {
	color: #288eb3;
	font-family: 'Noto Serif', serif;
	font-size: 2em;
	padding: 0 0 1em 0;
	text-transform: uppercase;
}

#projects h2, #experience h2 {
	display: flex;
    flex-direction: row;
	justify-content: center;
	margin: auto;
	width: 40%;
	}

#projects h2:before, #experience h2:before{
	content: "";
	flex: 1 1;
	border-bottom: 2px solid #a1c3cf;
	margin: auto;
	padding: 0 1em;
	right: 20px;
	position: relative;
}

#projects h2:after, #experience h2:after {
	content: "";
	flex: 1 1;
	border-bottom: 2px solid #a1c3cf;
	margin: auto;
	padding: 0 1em;
	left: 20px;
	position: relative;
}

#certifications h2 {
	color: white;
	text-shadow: 5px 5px 10px black;
}

#certifications li {
	color: white;
	text-shadow: 2px 2px 5px black;
}

h3 {
	color: #003366;
	font-weight: 700;
}

#skills h3 {
	color: white;
}

p {
	font-family: 'Noto Sans', sans-serif;
	text-align: justify;
}

#skills p {
	text-align: left;
}

#footer p {
	color: white;
}

.project_tech {
	background: rgb(0,28,36);
	background: linear-gradient(90deg, rgba(0,161,207,0.2049020291710434) 0%, rgba(18,141,173,0.09845945214023111) 35%, rgba(0,212,255,0) 100%);
	padding: 0 0 0 1em;
}

.position {
	margin: 0 0 .5em 0;
}

ul {
	list-style: circle inside;
	padding: 0 .7em .7em .7em;
}

#head a, #head a:visited {
	color: white;
	font-weight: 400;
	padding: 0 1em;
	text-decoration: none;
}

#head a:hover {
	color:#27A8D5;
}

#projects a, #projects a:visited {
	color: #003366;
	font-weight: 400;
	text-decoration: none;
}

#projects a:hover {
	color:#27A8D5;
}

/*  For Mobile  */

@media only screen and (max-width: 600px) {
	.content {
		width: 90%;
		margin: auto;
	}

	#head .content {
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	#head .content img {
		padding: 0 1em;
	}

	#head .content #menu {
		background-color: #0b1620;
		display: none;
	}

	#head a {
		display: block;
		right: 0;
		top: 0;
	}

	#menu a {
		padding: .5em;
		font-size: 1.5em;
	}

	#head .content a.icon {
		display: block;
		position: absolute;
		top: 10px;
	}

	#hero_content {
		display: inline-block;
	}

	.hero-lottie {
		width: 0;
	}

	#hero_statement {
		width: 100%; 
		text-align: center;
	}

	#hero_statement p {
		text-align: center;
	}

	#skills_content {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: center;
		padding: 3em 1em;
	}
	
	.skill_section {
		color: white;
		width: 100%;
	}

	#projects_content {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 0;
		justify-content: center;
	}
	
	.project {
		border-left: #a1c3cf solid 3px;
		margin: 3em 0 0 0;
		padding: 0em 0 0 1em;
		max-width: 90%;
	}
	
	#certifications .content {
		background: none;
		padding: 3em 0;
	}

	#certifications h2 {
		text-shadow: none;
		text-align: center;
	}

	#certifications li {
		text-shadow: none;
	}

	#certs_content {
		padding: 0;
	}

	.company {
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: space-between;
		padding: 1em;
	}
	
	.company img {
		flex-grow: 10;
		max-width: 300px;
		width: 100%;
	}
	
	.company_desc {
		flex-grow: 4;
		padding: 2em 0;
		width: 100%;
	}

	/* Mobile font sizing */

	p {
		font-size: 1.2em;
	}

  }